:root{
    --grid-rows: 1;
    --grid-cols: 1;
}
body{
    display: flex;
    justify-content: center;
}

h1{
    position: relative;
    right: 40px;
    top: 50px;
    font-size: 50px;
}

#container{
    width: min-content;
    height: min-content;
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item{
    border-radius: 5px;
    padding: 1em;
    border: 1px solid black;
    text-align: center;
    width: 1em;
    height: 1em;
}

.hover{
    background-color: aquamarine;
}