
body{
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 3.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-style: italic;
    font-weight: bold;
}

#grid-container{
    width: 416px;
    height: 416px;
    display: grid;
    grid-gap: 0;
}

.button{
    padding: .8rem;
    font-size: 1rem;
    border-radius: 9px;
    margin-bottom: 1.4rem;
    margin-right: 1rem;
}

.button:hover{
    background-color: #d9d9d9;
}

.button:active{
    background-color: #cfcfcf;
}

.grid-item{
    border: 1px solid black;
}