html{
    background-color: #2E3440;
}

body{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 3.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #D8DEE9;
}

#grid-container{
    width: 416px;
    height: 416px;
    display: grid;
    border: 8px solid #3B4252;
    border-radius: 9px;
}

.grid-item{
    transition: 0.15s;
}

.button{
    padding: .8rem;
    font-size: 1rem;
    border-radius: 9px;
    margin-bottom: 2.2rem;
    margin-right: 1rem;
    background-color: #2E3440;
    border: 2px solid #3B4252;
    color: #D8DEE9;
    transition: 0.3s;
}

.button:hover{
    border: 2px solid #8FBCBB;
    color: #8FBCBB;
}